* {
    text-align: center;
  }
  
  .content-container {
    margin: auto;
    width: 500px;
    height: 500px;
    padding: 7rem 10rem;
    background: #282828;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-size: 25px;
    position: fixed;
    
  }
  
  .space-between {
    padding: 1rem;
  }
  
  .stack-item {
    width: 80px;
    height: 35px;
    margin: 0 auto;
    padding-top: 0.5rem;
    
    background-color: rgb(24, 24, 24);
    border-radius: 7px;
    color: white;
    border: solid 2px black;
  }
  
  .stack-item:nth-child(odd) {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  /* figure out how to make a box */
  .stack-container {
    padding: 0.5rem;
  }