name: CI tests
on: 
  push:
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'

      - name: Install Yarn Dependencies
        run: yarn

      - name: Check TS types
        run: yarn check:types

      - name: Run Linter
        run: yarn lint

      - name: Run Tests
        run: yarn test
